.vagrant/
.DS_Store
ubuntu-xenial-*.log
# share folder settings
share/*
!share/.gitkeep
!share/backup
share/backup/*
!share/backup/.gitkeep

# www folder settings
www/*
!www/hosts
!www/default
www/default/*
!www/default/index.php
!www/default/phpinfo
www/default/phpinfo/*
!www/default/phpinfo/index.php
